@use "../../../mixins" as *;
@use "../../../presets" as *;
$local-gap: calc(40px / 3);

.skills {
  &__container {
    display: grid;

    @include sm-min {
      padding: $gap-sm;
    }
    @include sm {
      padding: $gap;
    }
    gap: $gap-sm;

    @include lg-min {
      grid-template-areas: "a1 a1 a2 a3"
                           "a4 a5 a5 a6"
                           "a7 a8 a9 a6";
      grid-template-columns: repeat(4, 1fr);
      gap: $gap-sm;
    }

    @include lg-md {
      grid-template-areas: "a1 a2"
      "a3 a2"
      "a4 a4"
      "a5 a6"
      "a5 a7"
      "a8 a9";
      grid-template-columns: repeat(2, 1fr);
      gap: $gap-sm;
    }

    @include md-sm {
      grid-template-areas: "a1 a2"
      "a3 a2"
      "a4 a4"
      "a5 a6"
      "a5 a7"
      "a8 a9";
      grid-template-columns: repeat(2, 1fr);
      gap: $gap-sm;
    }
    
    @include sm {
      grid-template-areas: "a1"
      "a2"
      "a3"
      "a4"
      "a5"
      "a6"
      "a7"
      "a8"
      "a9";
      grid-template-columns: 1fr;
      gap: $gap;
    }

    @media (min-height: 690.8px) {
      grid-auto-rows: calc(33.33333vh - #{$local-gap});
    }

    @media (max-height: 690px) {
      grid-auto-rows: calc(230px - 13.33333333px);
    }
  }
  &__buttons {
    display: flex;
    justify-content: center;

    @include sm-min {
      padding-top: $gap-sm;
    }

    @include sm-min {
      margin-bottom: $gap-x2;
    }

    @include sm {
      margin-bottom: $gap;
    }
  }
}
