@use "../../mixins" as *;
@use "../../presets" as *;

::-webkit-input-placeholder {
    color: #637588;
}
:-moz-placeholder {
    color: #637588;
}
::-moz-placeholder { 
    color: #637588;
}
:-ms-input-placeholder {
    color: #637588  red;
}

.form {
    margin-bottom: 200px;
    background-color: $color-primary;

    &__container {
        @extend %container;
    }
    &__holder {
        width: 100%;
        height: 120px;
    }
}

.form-block {
    &__body {
        display: flex;
        justify-content: space-between;

        height: 100%;
        align-items: center;
    }
    &__input {
        color: #ffffff;
        font-size: 1.125rem;
        letter-spacing: 0.15em;
        line-height: 2.166em;
        font-weight: 400;
        padding: 3px 0px 0px 32px;
        background-color: #38405A;
    }
    &__submit {
        font-size: 1.125rem;
        letter-spacing: 0.1em;
        color: #ffffff;
        font-weight: 400;
        padding: 3px 0px 0px 0px;
        background-color: #424A63;
        transition: background-color 0.3s linear;
        cursor: pointer;
    }
    &__submit:hover {
        border: 2px solid #ffffff;
        padding-bottom: 2px;
        background-color: #d66926;
    }
}