@use "../../mixins" as *;
@use "../../presets" as *;

.about {
    background-color: $color-gray-light;
    padding-top: 99.5px;
    padding-bottom: 81.5px;

    @include sm {
        padding-top: 55px;
        padding-bottom: 70px;
    }

    &__container {
        @extend %container;
    }
    &__holder {
        display: flex;
        gap: 100px;

        @include sm {
            display: block;
        }
    }
    &__image {
        margin-top: 10.5px;
        margin-right: 2.1px;
        
        @include lg {
            margin-left: -60px;
        }
        @include md {
            margin-left: -70px;
        }
        @include sm {
            text-align: center;
            margin-top: 50px;
            margin-left: 0px;
            margin-right: 0px;
        }
    }
    &__img {
        width: 267px;
        height: 480px;

        @include lg {
            width: 256px;
            height: 459px;
        }
        @include md {
            width: 236px;
            height: 425px;
        }
        @include sm {
            width: 271px;
            height: 487px;
        }
    }
}

.content-about {
    &__title {
        font-size: 2.5rem;
        letter-spacing: 0.099999em;
        line-height: 1.2em;
        color: $color-primary;
        font-weight: 700;
        margin-bottom: 43px;
        font-family: "Roboto Slab";

        @include lg {
            font-size: 2rem;
        }
        @include md {
            font-size: 1.5rem;
        }
        @include sm {
            text-align: center;
            margin-bottom: $gap-x2;
        }
    }
    &__text {
        font-size: 1.125rem;
        letter-spacing: 0.049em;
        line-height: 1.1555em;
        color: $color-gray;
        font-weight: 400;

        @include md {
            font-size: 1rem;
        }
    }
    &__body {
        p {
            &:first-of-type {
                position: relative;

                &::after {
                    position: absolute;
                    top: 0;
                    right: -5.2%;

                    width: 2.5px;
                    height: 200px;

                    content: "";

                    background-color: rgba($color-gray, 0.1);
                    z-index: 999;
                }
            }
        }
    }
}