@use "../../presets" as *;
@use "../../mixins" as *;

.menu {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;

    &__container {
        @extend %container;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        font-size: 1.5rem;
        letter-spacing: 0.25em;
    }
    &__link-logo {
        display: block;
        padding: 20px 20px 20px 0px;
    }
    &__accent {
        display: inline-block;
        border: 3px solid $color-highlight;
        padding: 20px 10px;
        margin-right: 7px
    }
    &__list {
        @include unlist(0 (-$gap-sm) 0 0);

        display: flex;
        gap: $gap;
    }
    &__link {
        font-size: 1.125rem;
        letter-spacing: 0.1em;
        display: block;
        padding: $gap $gap-sm;
    }
}