@use "../../presets" as *;
@use "../../mixins" as *;

.menu {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @extend %container;
  }
  &__logo {
    letter-spacing: 0.22em;

    font-size: 1.5rem;
  }
  &__link-logo {
    display: block;

    padding: 20px 20px 20px 0;
  }
  &__accent {
    display: inline-block;

    margin-right: 4px;
    padding: 14px 1px 13px 5px;

    border: 3px solid $color-highlight;
  }
  &__list {
    display: flex;

    gap: $gap;
    @include unlist(0 (-$gap-sm) 0 0);
  }
  &__link {
    display: block;

    padding: $gap $gap-sm;

    transition: color 0.5s;
    letter-spacing: 0.089em;

    font-size: 1.125rem;

    &:hover,
    &:focus {
      color: $color-accent;
    }
  }
}
